table {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  border-collapse: collapse;
}
th {
  padding: 12px 24px;
  border-bottom: 1px solid #e5e7eb;
  width: 337px;
  background: var(--gray-50, #f9fafb);
  text-align: start;
}

td {
  padding: 16px 24px;
  background: var(--gray-50, #f9fafb);
}

.title {
  margin-bottom: 73px;
}
.edit {
  color: #4f46e5;
  cursor: pointer;
}
.table_responsive {
  overflow-x: auto;
}
