.footer_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  box-shadow: 0px 2px 2px -1px #0000000f;
  box-shadow: 0px 2px 3px -1px #0000001a;
}
.item_footer {
  margin: 64px 32px;
}
.logo_footer img {
  padding-bottom: 32px;
}
.footer_container > * {
  color: #6b7280;
}
.bot_title {
  text-align: center;
  margin: 32px 0;
  color: var(--gray-400, #9ca3af);
}
@media (min-width: 320px) and (max-width: 550px) {
  .footer_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .both_footer {
    text-align: center;
  }
  .item_footer {
    margin: 20px;
  }
}
