<div>
    <h3>{{title}}</h3>
    <div class="admin_box">
    <div class="admin_item_box" routerLink="/items">
        <div>
            <div class="check_circle check"></div>
            <div class="arrow arrow_check"></div>
        </div>
        <h4 >Товары</h4>
        <p>Редактирование товаров</p>
    </div>
    <div class="admin_item_box">
        <div>
            <div class="badge_check check"></div>
            <div class="arrow arrow_check"></div>
        </div>
        <h4>Тестовый раздел</h4>
        <p>для разработчиков</p>
    </div>
    </div>
</div>
<app-footer></app-footer>
