<div>
    <h1>{{title}}</h1>
  <!--   <div class="profile">
        <div>
            <img src={{userInfo.image}} alt="">
            <h2>{{userInfo.firstName}}</h2>
        </div>
        <div>
            <a routerLink='/app-administration-page'>
                <button>Администрирование</button>
            </a>
        </div>
    
    </div>
    <div class="description">
        
        <div>
            <p>возвраст</p>
            <h4>{{userInfo.age}}</h4>
        </div>
        <div>
            <p>email</p>
            <h4>{{userInfo.email}}</h4>
        </div>
        <div>
            <p>IP</p>
            <h4>number</h4>
        </div>
    </div> -->
</div> 