<div class="box_detail">
  <div class="close_btn">
    <app-button
      (btnClick)="goBack()"
      btnClass="return_btn_blue"
      btnTitle="Закрыть"
    ></app-button>
  </div>
  <div *ngIf="paramDetail" class="product_detail_box">
    <div class="image_detail">
      <img style="background-image: url({{paramDetail.thumbnail}})" />
      <h5 class="rating">Ретинг: {{ paramDetail.rating }}</h5>
    </div>
    <div class="product_description">
      <p class="brand">{{ paramDetail.brand }}</p>
      <h2>{{ paramDetail.title }}</h2>
      <p class="desc">{{ paramDetail.description }}</p>
      <h2>{{ paramDetail.price }} $</h2>
    </div>
  </div>
</div>
<app-footer></app-footer>
