.container {
  max-width: 448px;
  height: 286px auto;
  margin:80px auto;
}
input {
  width: 100%;
  padding: 9px 0 9px 12px;
  border-radius: 6px 6px 6px 6px;
  border: 1px solid var(--gray-300, #d1d5db);
  background: var(--white, #fff);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  
}
input.ng-invalid.ng-touched{
  border:1px solid red;
}
input.ng-valid.ng-touched{
  border:1px solid green;
}
input:focus{
    outline:none
}
.submit_btn {
  margin-top: 24px;
  width: 100%;
}
h1{
    margin: 24px 0 32px 0;
}
.logo{
    text-align: center;
}
