<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit(form.value)">
    <div class="logo">
      <img src="../../assets/Mark.svg" alt="" />
    </div>
    <h1>{{ title }}</h1>
    <div>
      <input type="text" placeholder="Логин" formControlName="username" />

      <div
        *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
        class="validation"
      >
        <small *ngIf="form.get('email')?.errors?.['required']">
          Введите корректный email</small
        >

        <small *ngIf="form.get('email')?.errors?.['email']"
          >поле не может быть пустым</small
        >
      </div>
    </div>
    <div>
      <input
        type="text"
        placeholder="Пароль"
        formControlName="password"
        type="password"
      />
      <div
        *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
        class="validation"
      >
    <small>
      !
    </small>
    </div>
    </div>
    <div class="submit_btn">
      <!--   <app-button [btnTitle]="'Войти'" [btnClass]="'auth'" ></app-button> -->
      <a routerLink="/app-personal-area">
        <button class="btn" (click)="submit(form.value)" >Отправить</button>
      </a>
      
    </div>
  </form>
</div>
