<div class="card_grid_box" >
    <div *ngFor="let item of products$ | async ">
        <a [routerLink]="['/product','product-detail']" [queryParams]="{id:item.id}" >
        <div class="card_box">
                <div>
        
                    <div class="card_img">
                        <img class="bg_image" style="background-image: url({{item.thumbnail}})" alt="">
                    </div>
                    <h3>{{item.title}}</h3>
                    <h3>{{item.price}} $</h3>
                </div>
        </div>
    </a>
    </div>
</div>

<router-outlet></router-outlet>
