.auth {
  padding: 9px 205px;
  position: relative;
  width: 100%;  
}
button:disabled {
  background-image: url("../../assets/Lockclosed.svg");
  background-position:left;
  background-position-x: 10px;
  background-repeat: no-repeat;
}
 
