.auth {
  padding: 9px 205px;
  position: relative;
  width: 100%;
}
button:disabled {
  background-image: url("../../assets/Lockclosed.svg");
  background-position: left;
  background-position-x: 10px;
  background-repeat: no-repeat;
}
.return_btn {
  padding: 9px 17px;
  border-radius: 6px;
  border: 1px solid var(--gray-300, #d1d5db);
  background: var(--white, #fff);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: inherit;
}
.return_btn_blue {
  border-radius: 6px;
  background: var(--indigo-100, #e0e7ff);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #4338ca;
}

@media (min-width: 320px) and (max-width: 450px) {
  .auth {
    padding: 9px 150px;
    position: relative;
    width: 100%;
  }
}
